
  *{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
  }


  .calculator-container {
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;

    padding: 20px;
    border-radius: 15px;
    
  }
  
  .calculator-form {
    display: flex;
    flex-direction: column;
  }
  
  .calculator-form input,
  .calculator-form select,
  .calculator-form option {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #3d3d3d;
    font-weight: 300;
    background-color: #ffffff;
    border: 1px solid #ccc;
  }
  
  .calculator-form button {
    padding: 10px 20px;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    background-color: #88DE00;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .calculator-form button:hover {
    background-color: #7dc903;
  }
  
  .resultados {
    display: block;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
  }

  h3{
    color: #ffffff;
  }

  li{
    list-style: none;
  }

  .aviso-responsabilidad {
    color: #ffffff;
    font-size: 0.5rem;
    padding: 15px; 
    border-radius: 5px; 
    margin-top: 20px; 
}

.aviso-responsabilidad h4 {
    margin-top: 0;
    
}
